{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
  },
  "extends": "eslint:recommended",
  "rules" : {
    "no-console" : 1,
    "prefer-const" : 2,
    "strict" : 2,
    "no-extra-boolean-cast" : 0,
    "no-unused-vars" : 1,
    'no-constant-condition' : 0
  }
}
